absl-py==0.13.0
altair==4.1.0
anyio==3.2.1
appnope==0.1.2
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
Automat==20.2.0
av==9.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
boto3==1.17.106
botocore==1.20.106
bs4==0.0.1
cachetools==4.2.2
capstone==4.0.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
colored-traceback==0.3.0
constantly==15.1.0
crypto-com-client==1.0
crypto.com==0.0.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
cytoolz==0.11.0
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.2
easyinput==2.4
ecdsa==0.16.1
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
eth-hash==0.3.1
eth-typing==2.2.2
eth-utils==1.10.0
filelock==3.0.12
filterpy==1.4.5
Flask==2.0.1
Flask-Assets==2.0
Flask-Scss==0.5
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
focal-loss==0.0.7
future==0.18.2
gast==0.4.0
GDAL==3.5.0
google-auth==1.32.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.34.1
gunicorn==20.1.0
h2==3.2.0
h5py==3.1.0
hmmkay==0.0.1
hpack==3.0.0
html5lib==1.1
huggingface-hub==0.0.12
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.19.3
incremental==21.3.0
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.1.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.4.0
jupyter-core==4.7.0
jupyter-resource-usage==0.6.0
jupyter-server==1.9.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaggle==1.5.12
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.38.1
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mechanize==0.4.5
mistune==0.8.4
mpmath==1.2.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.0
numba==0.55.2
numpy==1.19.5
oauthlib==3.1.1
opencv-contrib-python==4.5.5.62
openpyxl==3.0.7
opt-einsum==3.3.0
orjson==3.6.1
packaging @ file:///private/tmp/sip--packaging-20220416-83003-1hqovwb/packaging-21.3
pandas==1.1.5
pandocfilters==1.4.3
paramiko==2.8.0
parsel==1.6.0
parso==0.7.1
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.2.0
platformdirs==2.3.0
pluggy==1.0.0
plumbum==1.7.0
ply==3.11
priority==1.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.8
Protego==0.1.16
protobuf==3.19.4
psutil==5.8.0
psycopg2-binary==2.9.1
ptyprocess==0.6.0
pwntools==4.6.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.20
pycryptodome==3.9.9
PyDispatcher==2.0.5
pyelftools==0.27
pygame==2.1.2
Pygments==2.7.3
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing @ file:///private/tmp/sip--pyparsing-20220416-83003-17i9c2w/pyparsing-3.0.8
PyQt3D==5.15.5
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQt6==6.2.0
PyQt6-3D==6.2.0
PyQt6-Charts==6.2.0
PyQt6-DataVisualization==6.2.0
PyQt6-NetworkAuth==6.2.0
PyQt6-sip==13.1.0
PyQt6-WebEngine==6.2.0
PyQtChart==5.15.5
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.5
pyrsistent==0.17.3
pyScss==1.3.7
pyserial==3.5
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.1
python-slugify==5.0.2
pytorch-nlp==0.5.0
pytorch-pretrained-bert==0.6.2
pytz==2020.4
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==20.0.0
QScintilla==2.13.2
qtconsole==5.1.1
QtPy==1.9.0
queuelib==1.6.1
regex==2021.7.6
requests==2.25.1
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
ROPGadget==6.6
rpyc==5.0.1
rsa==4.7.2
s3transfer==0.4.2
sacremoses==0.0.45
scikit-image==0.19.3
scikit-learn==0.24.2
scipy==1.7.0
Scrapy==2.5.0
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.7.1
sentencepiece==0.1.96
service-identity==21.1.0
sip==6.6.1
six==1.15.0
sklearn==0.0
sktime==0.13.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
srt==3.5.2
statsmodels==0.13.2
stem==1.8.0
sympy==1.10.1
TBB==0.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==2.1.0
tifffile==2022.5.4
tokenizers==0.10.3
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
torch==1.9.0
tornado==6.1
torrequest==0.1.0
tqdm==4.61.2
traitlets==5.0.5
transformers==4.8.2
Twisted==21.7.0
typing-extensions==3.7.4.3
unicorn==1.0.2rc3
Unidecode==1.3.4
urllib3==1.26.6
virtualenv==20.7.2
w3lib==1.22.0
wcwidth==0.2.5
webassets==2.0
webencodings==0.5.1
webkit-server==1.0
websocket-client==1.1.0
websockets==8.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
xvfbwrapper==0.2.9
zope.interface==5.4.0
